{
  "printWidth": 120,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "vueIndentScriptAndStyle": true,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "endOfLine": "auto",
  "insertPragma": false,
  "requirePragma": false,
  "htmlWhitespaceSensitivity": "strict",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
